.product-hero {
    text-align: center;

    & h2 {
        color: #424242;
        font-size: 2.7rem;
    }

    & p {
        font-size: 1.3rem;
        color: #424242;
    }

    & h5 {
        font-size: medium;
        font-weight: 500;
        color: #666666;

        & a {
            text-decoration: none;
        }
    }
}

.leftImg-text {
    & h3 {
        font-size: 2rem;
        color: #424242;
        margin: 1.5rem 0;
    }

    & p {
        font-size: 18px;
        font-weight: 400;
    }
}

.left-img-links {
    & div a {
        font-size: 1.1rem;
        text-decoration: none;

        &:hover {
            color: #424242;
        }
    }
}

.show-in-mobile {
    display: none;
}

.procut-heading {
    font-size: 1.43rem;
    font-weight: 500;
    color: #424242;

    & a {
        text-decoration: none;

        &:hover {
            color: #424242;
        }
    }
}

.product-universe {
    text-align: center;

    & h3 {
        font-size: 2.2rem;
        color: #424242;
        margin-bottom: 2rem;
    }

    & p {
        font-size: 1.1rem;
        color: #666666;
        font-weight: 400;
        margin-bottom: 2rem;
    }
}

.product-universe-logos div {
    cursor: pointer;
}

.product-universe-logo {
    text-align: center;

    & img {
        width: 198px;
        margin-bottom: 1rem;
    }

    & p {
        font-weight: 500;
        color: #666666;
        font-size: small;
    }
}

.product-universe-btn button {
    outline: none;
    border: none;
    padding: 10px 30px;
    background-color: #387ED1;
    color: white;
    border-radius: 3px;
    font-size: 19px;
    font-weight: 500;

    &:hover {
        background-color: #424242;
    }
}

@media screen and (max-width:400px) {
    .left-image {
        & img {
            width: 335px;
        }
    }

    .show-in-window {
        display: none;
    }
}